<connectionStrings>
    <add name="SMAContext" connectionString="metadata=res://*/SMAContext.csdl|res://*/SMAContext.ssdl|res://*/SMAContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SQL-Server\DEVSQL;initial catalog=StockMarketData;persist security info=True;user id=StockMarketDataAdmin;password=@WSX#EDC2wsx3edc;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>